데이터셋이 csv파일 여러개로 나눠져있는 경우가 더러 있는데,
반복문을 이용하여 한번에 불러올 수 있다.

In [6]:
# /datas 폴더 내에 파일 리스트를 확인 하는 법
import os
file_ls = os.listdir('./datas/')
file_ls

['.DS_Store',
 'sales_train.csv',
 'shops.csv',
 'test.csv',
 'item_categories.csv',
 'items.csv',
 'sample_submission.csv']

In [7]:
# '.DS_Store'를 제외하고 인덱싱 해준다.
file_ls = file_ls[1:]
file_ls

['sales_train.csv',
 'shops.csv',
 'test.csv',
 'item_categories.csv',
 'items.csv',
 'sample_submission.csv']

In [9]:
# ','으로 스플릿하고 앞 요소만 가져오면 파일명을 가져올 수 있음
file_ls[1].split('.')[0]

'shops'

In [10]:
# 동적변수로 파일명 = csv를 읽은 데이터프레임 으로 반복문 실행
for i in file_ls[1:]:
     globals()[i.split('.')[0]] = pd.read_csv(f'./datas/{i}')

In [11]:
# 데이터 프레임이 잘 불러져왔는지 확인
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [12]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268